[submodule "FSCIL"]
	path = FSCIL
	url = https://github.com/gyumin4726/FSCIL.git
[submodule "mamba"]
	path = mamba
	url = https://github.com/state-spaces/mamba.git
[submodule "vmamba"]
	path = vmamba
	url = https://github.com/MzeroMiko/VMamba.git 
